 <!-- Silly voice note -->
 <div class="row featurette vertical-center toppage-buffer">
  <div class="col-md-7">
    <h3 class="featurette-heading">The Scientist - Coldplay.</h3>
  </div>
  <div class="col-md-5 text-center">
    <audio class controls controlsList="nodownload">
      <source src="./assets/audio-files/music/the-scientist.mp3" type="audio/mp3">
    </audio>
  </div>
</div>
<hr class = "col-margin">

<!-- Cute voice note -->
<div class="row featurette vertical-center top-buffer" >
  <div class="col-md-7">
    <h3 class="featurette-heading">Hope - Original song</h3>
    </div>
    <div class="col-md-5 text-center">
      <audio class controls controlsList="nodownload">
          <source src="./assets/audio-files/music/hope.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
<hr class = "col-margin">

  <!-- Romantic voice note -->

  <div class="row featurette vertical-center top-buffer" >
      <div class="col-md-7">
          <h3 class="featurette-heading">This Town - Niall Horan</h3>
        </div>
        <div class="col-md-5 text-center">
          <audio class controls controlsList="nodownload">
              <source src="./assets/audio-files/music/this-town.mp3" type="audio/mp3">
          </audio>
        </div>
  </div>


  <hr class = "col-margin">

  <div class="row featurette vertical-center top-buffer" >
    <div class="col-md-7">
        <h3 class="featurette-heading">Silence on the Wire - Ex-Chameleon</h3>
      </div>
      <div class="col-md-5 text-center">
        <audio class controls controlsList="nodownload">
            <source src="./assets/audio-files/music/Silence.mp3" type="audio/mp3">
        </audio>
      </div>
  </div>


  <hr class = "col-margin">

  <div class="row featurette vertical-center top-buffer" >
    <div class="col-md-7">
        <h3 class="featurette-heading">Downtown - Ex-Chameleon</h3>
      </div>
      <div class="col-md-5 text-center">
        <audio class controls controlsList="nodownload">
            <source src="./assets/audio-files/music/Downtown.mp3" type="audio/mp3">
        </audio>
      </div>
  </div>

