 <!-- Silly voice note -->
  <div class="row featurette vertical-center toppage-buffer">
    <div class="col-md-7">
      <h3 class="featurette-heading">I can't imagine starting to make you sleep without making you laugh first.</h3>
      <br />
      <p class="lead">Listen to this when you want to be comforted, <span class = "text-muted"><i>or when you feel slightly mad at me.</i></span></p>
    </div>
    <div class="col-md-5 text-center">
      <img src = "../../assets/images/make-her-sleep/silly-sleep-edited.jpg" class="img-fluid rounded">
      <br />
      <br />
      <audio class controls controlsList="nodownload">
        <source src="./assets/audio-files/make-her-sleep/silly-sleep.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  <hr class = "col-margin">

  <!-- Cute voice note -->
  <div class="row featurette vertical-center top-buffer" >
    <div class="col-md-7">
      <h3 class="featurette-heading">Making you sleep is better served using our <b>"Voices"</b> language.</h3>
      <br />
      <p class="lead">Listen to this if you are in the mood of being a cute kitty</p>
      </div>
      <div class="col-md-5 text-center">
        <img src = "../../assets/images/make-her-sleep/cute-sleep-edited.jpg" class="img-fluid rounded">
        <br />
        <br />
        <audio class controls controlsList="nodownload">
            <source src="./assets/audio-files/make-her-sleep/cute-sleep.mp3" type="audio/mp3">
        </audio>
      </div>
    </div>
  <hr class = "col-margin">

    <!-- Romantic voice note -->

    <div class="row featurette vertical-center top-buffer" >
        <div class="col-md-7">
            <h3 class="featurette-heading">I realize when each passes by and you are away from me, just how much I need you.</h3>
          <br />
          <p class="lead">Listen to this if you need a reminder just how important you are to me.</p>
          </div>
          <div class="col-md-5 text-center">
            <img src = "../../assets/images/make-her-sleep/romantic-sleep-edited.jpg" class="img-fluid rounded">
            <br />
            <br />
            <audio class controls controlsList="nodownload">
                <source src="./assets/audio-files/make-her-sleep/romantic-sleep.mp3" type="audio/mp3">
            </audio>
          </div>
        </div>

