<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navbar-margin">
  <div class = "container">
      <a class="navbar-brand" [routerLink]="['/home']">For Mariella</a>
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a  class="nav-link" [routerLink]="['/login']" >Login</a>
          </li>
          <!-- <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li> -->
          <!-- <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
              <a class = "nav-link" [routerLink]="['/profile']">Profile</a>
          </li> -->
          <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Things Made for you!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/make-her-sleep']">Making you sleep</a>
              <a class="dropdown-item"  [routerLink]="['/music']">Music</a>
            </div>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class = "nav-link" [routerLink]="['/main_lists']">To-Do Lists</a>
          </li>
          <li>
            <a data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="authService.loggedIn()" class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>