<div class="form-group form-group-align">
 
  <form (submit) = "addNewParentList()" role="form" class = "form-design">
      <div class="input-group">
        <input id="newParentListTextBox" type="text" [(ngModel)] = "added_list.name" class="form-control" placeholder="Our Lists" name="task" data-toggle="tooltip" title="This should not be empty boo!" data-placement="bottom">
        <span class="input-group-btn">
          <input type="submit" class="btn btn btn-primary" value="Add">
        </span>
      </div>
  </form>
</div>
      <div class="list-group">
        <button type = "button" *ngFor="let list of parent_lists" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" data-toggle="modal" data-target="#ChildListModal" (click) = "getChildLists(list)">{{list.name}} 
            <span class="badge badge-primary badge-pill">{{list.children_list_counter}} </span>
        </button>
      </div>


      <!-- Button trigger modal -->


<!--Child lists Modal -->
<div class="modal fade" id="ChildListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document">
        <div class="modal-content">
            <div class="modal-header">
                
                  
                    <div class="form-group row form-inline">
                            <label for="staticEmail" class="col-sm-4 align-middle justify-content-center">List Name</label>
                            <div class="col-sm-8">
                                    <input id="childListTextField" type="text" [(ngModel)] = "parent_list.name" class="form-control tool-tip" name="task" (input)="editListName(parent_list, $event)" data-toggle="tooltip" title="This should not be empty boo!" data-placement="bottom">
                            </div>
                          </div>    
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            <div class="modal-body">
                    
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="Pending" aria-selected="true">Pending</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="Completed" aria-selected="false">Completed</a>
                            </li>
                    </ul>


                    <div class="tab-content" id="myTabContent">
                        <!-- pending -->
                        <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="home-tab">
                            
                                <div class="form-group form-group-align">
 
                                        <!-- adding a new child list -->
                                            <form (submit) = "addNewChildList()" role="form" class = "form-design">
                                                <div class="input-group">
                                                  <input id = "newChildTextBox" type="text" [(ngModel)] = "added_child_list.name" class="form-control" placeholder="" name="task" data-toggle="tooltip" title="This should not be empty boo!" data-placement="bottom">
                                                  <span class="input-group-btn">
                                                    <input type="submit" class="btn btn btn-primary" value="Add">
                                                  </span>
                                                </div>
                                            </form>
                                          </div>

                            
                            <div class="list-group">
                                <div id="PendingAccordion" data-children=".item">
                                            
                                    <div class="item" *ngFor="let list of pending_lists">
                                      <button type = "button" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" data-toggle="collapse" data-parent="#PendingAccordion" [attr.href] = "'#' + list._id" role="button" aria-expanded="false" aria-controls="PendingAccordion">
                                        {{list.name}}
                                      </button>
                                      <div [attr.id]="list._id" class="collapse" role="tabpanel">
                                                    <div class="input-group">
                                                      <input id = "PendingchildListName" type="text" [(ngModel)] = "list.name" class="form-control input-lg" name="task" (input)="editListName(list, $event)" data-toggle="tooltip" title="This should not be empty boo!" data-placement="bottom">
                                                      <span class="input-group-btn">
                                                        <input type="submit" class="btn btn btn-success" value="Complete" (click) = "switchDone(list)">
                                                      </span>
                                                      <span class="input-group-btn">
                                                        <input type="submit" class="btn btn btn-danger" value="Delete" (click) = "deleteChildList(list, 0)">
                                                      </span>
                                                    </div>
                                      </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <!-- completed -->
                        <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="list-group">
                                    
                                        <div id="CompletedAccordion" data-children=".item">
                                            
                                            <div class="item" *ngFor="let list of completed_lists">
                                              <button type = "button" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" data-toggle="collapse" data-parent="#CompletedAccordion" [attr.href] = "'#' + list._id" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                                                {{list.name}}
                                              </button>
                                              <div [attr.id]="list._id" class="collapse" role="tabpanel">
                                                 
                                                            <div class="input-group">
                                                              <input id = "PendingchildListName" type="text" [(ngModel)] = "list.name" class="form-control input-lg" name="task" (input)="editListName(list, $event)" data-toggle="tooltip" title="This should not be empty boo!" data-placement="bottom">
                                                              <span class="input-group-btn">
                                                                <input type="submit" class="btn btn btn-danger" value="Delete" (click) = "deleteChildList(list, 1)">
                                                              </span>
                                                            </div>
                                                  
                                              </div>
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
               </div>
            
            <div class="modal-footer mx-auto">
                <button id="confirmdeletingparent" type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmation-modal" data-number="1">Delete List</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>

   

<!-- 
modal for confirming the deletion of the parent-list -->
<div id="confirmation-modal" class="modal fade">
    <div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete "{{ parent_list.name }}"</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Boo - you won't be able to get this list back. Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click) = "removeParentList(parent_list)">Watch me Bitch!</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>





    
 