/* Needed to create margin before navbar and body */
body { 
    padding-top: 70px; 
}

/* styling for .jumbotron in homescreen. No longer needed */
/* .jumbotron
{   
    background-image:url('../images/image.jpg');
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background: contain;
    color : white; 
    
 }   */

 /* needed for overlay on .jumbotron in homescreen. No longer needed */
 /* .overlay-text { 
    color: black; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0);
    background: rgba(216, 216, 223, 0.7);
    padding: 5px; 
 } */

 
 .vertical-bottom {
    max-height: 80%;  /*Fallback for browsers do NOT support vh unit*/
    max-height: 80vh; /*These two lines are counted as one :-)    */  
  
    /* display: flex;
    align-items: center;  */
  }

  /* Needed to center items inside any div */
  .vertical-center {
      align-items: center;
  }
/* Needed to create spaces between collumns when they collapse */
  @media (max-width: 991px){
    .col-margin{
        margin-bottom: 50px;
    }  
}

/* Needed to create a row seperator between boostrap rows */
.top-buffer { margin-top:50px; }

/* Space between carousel and the homescreen items*/
.homescreen-carousel-buffer { margin-top:20px; }

/* space between boostrap rows at the top of the page */
.toppage-buffer { margin-top:30px; }

.carousel-inner img {
    margin: auto;
  }