/* Needed to create margin before navbar and body */
body { 
    padding-top: 70px; 
}

/* styling for .jumbotron in homescreen */
.jumbotron
{   
    background-image:url('../images/image.jpg');
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background: contain;
    color : white; 
    
 }  

 /* needed for overlay on .jumbotron in homescreen */
 .overlay-text { 
    color: black; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /*fallback color*/
    background: rgba(216, 216, 223, 0.7);
    padding: 5px; 
 }

 
 .vertical-bottom {
    min-height: 80%;  /*Fallback for browsers do NOT support vh unit*/
    min-height: 80vh; /*These two lines are counted as one :-)    */  
  
    display: flex;
    align-items: flex-end;
  }

  /* Needed to center items inside any div */
  .vertical-center {
      align-items: center;
  }
/* Needed to create spaces between collumns when they collapse */
  @media (max-width: 991px){
    .col-margin{
        margin-bottom: 50px;
    }  
}

/* Needed to create a row seperator between boostrap rows */
.top-buffer { margin-top:50px; }